*{
    padding: 0px;
    margin: 0px;
  }

  body{
    font-family: arial;
    background: url(https://picstatio.com/large/2595e0/minimal-equilizer-music-artwork.jpg);
    background-size: 100%;
  }
  
  h1{
    color: #C25100;
    font-family: 'Lobster';
    text-align: center;
  }

  p {
    text-indent: 300ch;
    color: #381700;
    text-align: justify;
    margin: 100px 100px 10px 70px;
  }
